# Build and Release Folders
bin/appserver
bin/node
bin/scheduler_bdema
bin/scheduler_hash

src/common/libsimring.a
src/node/node
src/scheduler/scheduler

# Other files and folders
*.o
data/
tmp/
log/
tags

docs/html/
docs/latex/

# Swap vim files
*.swp
*.swo
